html, body {
  box-sizing: border-box;
}

html {
  background-image: url('./soccerball.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.App {
  text-align: center;
}

.title {
  text-shadow: 2px 2px gainsboro;
}

.dark-mode .title {
  text-shadow: 2px 2px slategray;
}

.dateRange {
  font-size: 32px;
  text-shadow: 2px 2px slategray;
}

.playerCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerCard {
  background-color: ivory;
  width: 300px;
  border: 1px solid mediumturquoise;
  border-radius: 5px;
  margin: 1% 0;
}

.dark-mode .playerCard {
  background-color: black;
  color: whitesmoke;
  border-color: tomato;
}

html .dark-mode {
  background-image: url('./darkmode-bg.jpg');
  color: whitesmoke;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

nav button {
  border-radius: 5px;
}
